<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/schedule"><i class="fa fa-graduation-cap"></i>Schedule</a></li>
		<li><a href="/register"><i class="fa fa-user-plus"></i>Register</a></li>
	        <li><a href="/local-arrangements"><i class="fa fa-hotel"></i>Local Arrangements</a></li>
		<li><a href="/contact"><i class="fa fa-envelope-o"></i>Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
